@import url("https://fonts.googleapis.com/css?family=Coming+Soon");


body {
  background: #112 url("bg.jpg")  center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  margin:0;
  padding: 10em 0 10em 0;
  font-family: "Coming Soon", cursive;
}
